[submodule "/home/alastair/.local/share/nvim/site/pack/nerdtree/start/nerdtree"]
	path = /home/alastair/.local/share/nvim/site/pack/nerdtree/start/nerdtree
	url = https://github.com/preservim/nerdtree
