[submodule "/home/alastair/.local/share/nvim/site/nerdtree"]
	path = /home/alastair/.local/share/nvim/site/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "/home/alastair/.local/share/nvim/site/pack/nerdtree"]
	path = /home/alastair/.local/share/nvim/site/pack/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "/home/alastair/.local/share/nvim/site/pack/preservim/start/nerdtree"]
	path = /home/alastair/.local/share/nvim/site/pack/preservim/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "/home/alastair/.zsh/zsh-syntax-highlighting"]
	path = /home/alastair/.zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "/home/alastair/.zsh/zsh-autosuggestions"]
	path = /home/alastair/.zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
